<!DOCTYPE html>
<html>
  <head>
    <title>rendering with render tag: component</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app">
      message: <input type="text" v-model="message"></br>
      <a href="javascript:void(0);" @click="component = 'component1'">component1</a>
      <a href="javascript:void(0);" @click="component = 'component2'">component2</a>
      <render method="render" :args="component"></render>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          component: 'component1',
          message: 'hello world'
        },
        components: {
          component1: {
            props: ['message'],
            data: function () {
              return { show: true }
            },
            template: '<div>'
              + '<p v-if="show">component1: {{message}}</p>'
              + '</div>'
          },
          component2: {
            props: ['message'],
            data: function () {
              return { show: true }
            },
            render: function () {
              return this.$createElement('div', {}, [
                this.$createElement('p', { directives: [{ name: 'show', value: this.show }] }, ['component2: ' + this.__toString__(this.message)])
              ])
            }
          }
        },
        methods: {
          render: function (arg) {
            return this.$createElement(arg, { props: { message: this.message } })
          }
        }
      })
    </script>
  </body>
</html>
